@model Domain.Models.Poll

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Poll</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option1Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option1Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option2Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option2Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option3Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option3Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option1VotesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option1VotesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option2VotesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option2VotesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option3VotesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option3VotesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
